.popup__container {
  width: 470px;
  height: 370px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 550px) {
  .popup__container{
    width: 282px;
    height: 358px;
  }
}
